html {
	font: 100%/1.15 sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;	
	}

body {
	font-family: Trebuchet MS, sans-serif;
	background-color: #fc6;
	}
	
	
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

header {
	text-align: center;	
	font-size: 1em;
	letter-spacing: .1em;
	}
	
#banner h1 {
	font-size: 5.4em;
	font-variant: small-caps;
	margin: 0 0 0 0;
	letter-spacing: 15px;
	font-weight: bold;
	}
	
#trebuchet-ms {
	text-shadow: 2px 4px 10px #300;
	color: #069;
	border: 4px;
	}
	
#about {
	font-size: 2.8em;
	color: #c30;
	letter-spacing: .1em;
	}


#menu li {
	text-align: center;
	padding: .2em;
	list-style: none;
	padding-left: 0;
	margin: 0;
	}

nav a {
	color: #069;
	}

figure {
  margin: 0;
}

#features {
  list-style: none;
  padding-left: 1em;
  text-align: center;
}


#features figure {
  display: inline-block;
  position: relative;
  text-align: center;
}

#features b {
   font-size: 300%;
}

#ltr-m:before {
  display: block;
  position: absolute;
  top: .85em;
  right: 2.25em;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: #fff;
  border-radius: 50%;
  opacity: .5;
}

#ltr-q:before {
  display: block;
  position: absolute;
  top: 2em;
  right: .65em;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: #fff;
  border-radius: 50%;
  opacity: .5;
}

#ltr-a:before {
  display: block;
  position: absolute;
  top: 1.5em;
  right: 1.04em;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: #fff;
  border-radius: 50%;
  opacity: .5;
}

#ltr-e69:before {
  display: block;
  position: absolute;
  top: 1.5em;
  right: 3.5em;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: #fff;
  border-radius: 50%;
  opacity: .5;
}

#ltr-l:before {
  display: block;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: #fff;
  border-radius: 50%;
  opacity: .5;
}

#ltr-dol:before {
  display: block;
  position: absolute;
  top: 2em;
  right: 4.9em;
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: #fff;
  border-radius: 50%;
  opacity: .5;
}

#styles-weights {
	width: 100%;
	text-align: center;
	font-size: 1.1em;
	letter-spacing: .1em;
	overflow: hidden;
	}
	
#styles-weights p {
	float: left;
	width: 21%;
	margin: 0 2%;
	font-size: 1.5em;
	line-height: 1.5em;
	}

#styles-weights h2 {
	font-size: 2.5em;
	color: #c30;
	}

#try-me {
	text-align: center;
	font-size: 1.1em;
	letter-spacing: .1em;
	}
	
#try-me h2 {
	font-size: 2.5em;
	margin: 10px;
	color: #c30;
	}

#try-me p:hover {
	color: #069;
	transition: all 0.3s ease;
	}

footer {
	text-align: center;
	font-size: 3.2em;
	}

footer a {
	color: #069;
	text-decoration: none;
	}

@media (min-width: 36em) {
  
  #features li {
      float: left;
      width: 50%;
  }
}

@media (min-width: 40em) {
  
  #features li {
      width: 33.333%;
  }
}

@media (min-width: 60em) {
  
  #features li {
      width: 20%;
  }
}

@media (min-width: 50em)

	#trebuchet-ms {
		width: 20%; 
	}
	
/* 
nav ul {
  text-align: center;
  background-color:#fff;
  padding: 1em;
  list-style: none;
  padding-left: 0;
  margin: 0;
  }
 */
